#category { margin-top: 0; display: none; }

#wrap-main { width: 100%; }
#main { width: 1200px; height: 740px; margin: 0 auto; }
#path { width: 100%; height: 52px; font-size: 12px; font-family: "宋体"; line-height: 44px; color: #777; }
#path span { margin: 0 6px; }
#path img { margin-right: 4px; position: relative; top: 1px; }
#path a { color: #777; }
#path a:hover { color: #E4393C; }

#wrap-content { padding-bottom: 10px; }

#left-list { width: 198px; height: 688px; margin-right: 50px; }
.list-item { width: 198px; border-bottom: 2px solid #d7d7d7; margin-bottom: 10px; }
.list-item li { width: 188px; height: 20px; line-height: 20px; font-size: 11px; padding-left: 10px; }
.list-item li a { color: #555; }

.imgbox { width: 196px; border: 1px solid #d7d7d7; margin-bottom: 10px; }
.imgbox img { width: 196px; display: block; }

.recent { width: 196px; height: 398px; border: 1px solid #d7d7d7; }
#list-info { width: 852px; }













#wrap-footer .data-service li { display: none; }
#footer { height: 195px; padding-top: 0; }
