<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>阳光商城</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <!-- 头部 -->
    <div id="wrap-head"></div>
    <!-- 轮播图 -->
    <div id="wrap-banner">
        <ul id="carousel">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div id="banner">
            <!-- 轮播图索引 -->
            <div class="points">
            </div>
            <div id="ad">
                <a href="#"><img src="../images/ad-pic1.png" alt="轮播广告图"></a>
                <a href="#"><img src="../images/ad-pic2.png" alt="轮播广告图"></a>
                <a href="#"><img src="../images/ad-pic3.png" alt="轮播广告图"></a>
            </div>
            <div id="wrap-sidebar">
                <div class="sidebar">
                <div class="service">
                    <p>
                        <span>七天包退</span>
                        <span>正品保障</span>
                        <span>闪电发货</span>
                    </p>
                </div>
                <div class="wechat">
                    <p>健康商城微信服务</p>
                    <div class="wechat_img">
                        <img src="../images/wechat.jpg" alt="微信扫一扫">
                    </div>
                    <div class="business">
                        <span>商家入住</span>
                        <a href="#" target="_blank">登陆商家管理中心</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 热卖 -->
    <div id="wrap-hot">
        <div id="hot">
            <div id="hot-item" class="tabs">
                <ul class="hot-tab">
                    <li><a href="#tab1">热卖商品</a></li>
                    <li><a href="#tab2">猜您喜欢</a></li>
                    <li><a href="#tab3">热评商品</a></li>
                </ul>
                <div class="tab_container">
                    <div id="tab1" class="tab_content" style="display: block; "></div>
                    <div id="tab2" class="tab_content" style="display: none; "></div>
                    <div id="tab3" class="tab_content" style="display: none; "></div>
                </div>
                <img src="../images/hot-pic4.jpg" alt="广告">
            </div>
        </div>
    </div>
    <!-- 主要内容 -->
    <div id="wrap-main">
        <div id="main">
            <!-- 一楼 -->
            <div id="f1" class="floor">
                <div class="left-floor">
                    <div class="left-title">
                        <span>1F</span>
                        <p class="floor-title">商城自营</p>
                    </div>
                    <img src="../images/side-pic1.png" alt="侧边栏标题图片">
                </div>
                <div class="right-floor">
                    <div class="right-title">
                        <p>营养/保健</p>
                    </div>
                    <div class="goods-items"></div>
                </div>
            </div>
            <!-- 二楼 -->
            <div id="f2" class="floor">
                <div class="left-floor">
                    <div class="left-title">
                        <span>2F</span>
                        <p class="floor-title">健康食品</p>
                    </div>
                    <img src="../images/side-pic2.png" alt="侧边栏标题图片">
                </div>
                <div class="right-floor">
                    <div class="right-title">
                        <p>商品推荐</p>
                    </div>
                    <div class="goods-items"></div>
                </div>
            </div>
            <!-- 三楼 -->
            <div id="f3" class="floor">
                <div class="left-floor">
                    <div class="left-title">
                        <span>3F</span>
                        <p class="floor-title">生活用品</p>
                    </div>
                    <img src="../images/side-pic3.png" alt="侧边栏标题图片">
                </div>
                <div class="right-floor">
                    <div class="right-title">
                        <p>商品推荐</p>
                    </div>
                    <div class="goods-items"></div>
                </div>
            </div>
            <!-- 四楼 -->
            <div id="f4" class="floor">
                <div class="left-floor">
                    <div class="left-title">
                        <span>4F</span>
                        <p class="floor-title">健康理疗</p>
                    </div>
                    <img src="../images/side-pic4.png" alt="侧边栏标题图片">
                </div>
                <div class="right-floor">
                    <div class="right-title">
                        <p>商品推荐</p>
                    </div>
                    <div class="goods-items"></div>
                </div>
            </div>
            <img src="../images/ad-pic4.jpg" class="ad-pic" alt="广告图片">
        </div>
    </div>
    <!-- 底部 -->
    <div id="wrap-foot">

    </div>
    <ul id="floor-bar">
        <li>
            <a href="#f1">1F</a>
        </li>
        <li>
            <a href="#f2">2F</a>
        </li>
        <li>
            <a href="#f3">3F</a>
        </li>
        <li>
            <a href="#f4">4F</a>
        </li>
    </ul>
    <!-- 热卖商品 -->
    <script id="hot-goods" type="text/html">
        <% for (var i = 0; i < list.length; i ++) { %>
            <dl class="item-info">
                <dt><a href="detail-info.html"><img src="../images/hot-pic1.png" alt="热卖商品"></a></dt>
                <dd>
                    <p class="item-title"><a href="#"><%= list[i] %></a></p>
                    <p class="item-price"><span>商城价：</span><span>￥250800.00</span></p>
                </dd>
            </dl>
        <% } %>
    </script>
    <!-- 楼层模板 -->
    <script id="f_box" type="text/html">
        <% for (var i = 0; i < list.length; i ++) { %>
            <dl class="item-info">
                <dt><img src="../images/first-pic1.png" alt="热卖商品"></dt>
                <dd>
                    <p class="item-title"><a href="#"><%= list[i] %></a></p>
                    <p class="item-price"><span>￥16.00</span><span>￥55.00</span></p>
                </dd>
            </dl>
        <% } %>
    </script>
    <script src="../js/jquery-1.12.4.min.js" charset="utf-8"></script>
    <script src="../js/jquery.cookie.js" charset="utf-8"></script>
    <script src="../js/template-native.js" charset="utf-8"></script>
    <script src="../js/index.js" charset="utf-8"></script>
</body>
</html>
